In [30]:
import pandas as pd
import numpy as np

# Combine properties and sales data
# Some properties were sold in both 2016 and 2017 so mapping datasets within in a year preserves relationships
# 2016
properties_2016 = pd.read_table('/Users/David/Downloads/properties_2016.csv', sep = ',')
train_2016 = pd.read_table('/Users/David/Downloads/train_2016_v2.csv', sep = ',')
training_2016 = train_2016.merge(properties_2016, on='parcelid', how='left')
training_2016.shape

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(90275, 60)

In [31]:
# 2017
properties_2017 = pd.read_table('/Users/David/Downloads/properties_2017.csv', sep = ',')
train_2017 = pd.read_table('/Users/David/Downloads/train_2017.csv', sep = ',')
training_2017 = train_2017.merge(properties_2017, on='parcelid', how='left')
training_2017.shape

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(77613, 60)

In [36]:
# Combine the years into a complete set
frames = [training_2016, training_2017]
training_all = pd.concat(frames, ignore_index=True)
training_all.shape

(167888, 60)

In [39]:
# Saving superset for future reference
training_all.to_csv("/Users/David/Desktop/Zillow/training_all.tsv", sep='\t', index=False)

# Add a random value column to the superset for sampling
total_rows = training_all.shape[0]
training_all['random_value'] = pd.Series(np.random.randn(total_rows), index=training_all.index)
randomized_training_all = training_all.sort_values(by=['random_value'])
# Taking about 10% of superset for now
training_sample = randomized_training_all.head(17000)
training_sample.to_csv("/Users/David/Desktop/Zillow/training_sample.tsv", sep='\t', index=False)

In [41]:
# training_sample = pd.read_table('/Users/David/Desktop/Zillow/training_sample.tsv')
training_sample.head(10)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,random_value
78655,13839640,-0.013100,2016-09-23,NaN,NaN,NaN,1.0,3.0,NaN,NaN,...,NaN,32214.0,241762.0,2015.0,209548.0,3084.48,NaN,NaN,6.059075e+13,-4.187693
75669,14648482,-0.006000,2016-09-14,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,NaN,54034.0,90539.0,2015.0,36505.0,889.76,NaN,NaN,6.059063e+13,-4.042450
76099,13096102,-0.029400,2016-09-15,1.0,NaN,NaN,3.0,3.0,NaN,4.0,...,NaN,120968.0,267866.0,2015.0,146898.0,3605.78,NaN,NaN,6.037408e+13,-4.030566
88943,13845155,0.056400,2016-12-08,NaN,NaN,NaN,2.0,3.0,NaN,NaN,...,NaN,67866.0,406000.0,2015.0,338134.0,4877.40,NaN,NaN,6.059074e+13,-4.029532
74929,14252099,0.095300,2016-09-10,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,22614.0,388000.0,2015.0,365386.0,4742.46,NaN,NaN,6.059075e+13,-3.909508
84236,12296242,-0.013100,2016-10-12,NaN,NaN,NaN,3.0,6.0,NaN,7.0,...,NaN,231500.0,433000.0,2015.0,201500.0,5858.42,NaN,NaN,6.037540e+13,-3.859353
154843,14657851,0.036742,2017-08-08,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,NaN,101160.0,459777.0,2016.0,358617.0,4752.22,NaN,NaN,6.059032e+13,-3.822853
157214,11611783,0.004950,2017-08-15,NaN,NaN,NaN,2.0,2.0,NaN,6.0,...,NaN,260058.0,1300293.0,2016.0,1040235.0,15593.05,NaN,NaN,6.037268e+13,-3.812703
160271,12159377,-0.032998,2017-08-24,NaN,NaN,NaN,1.0,2.0,NaN,4.0,...,NaN,86575.0,346312.0,2016.0,259737.0,4313.86,NaN,NaN,6.037461e+13,-3.810058
93326,11582563,0.134900,2017-01-13,1.0,NaN,NaN,3.0,2.0,NaN,9.0,...,NaN,263842.0,312921.0,2016.0,49079.0,4011.02,NaN,NaN,6.037702e+13,-3.802072

In [42]:
training_sample.shape

(17000, 61)